body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-case {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border-color: darkgrey;
    border: 3px solid;
    padding: 10px;
    border-radius: 8px;
}

.display-screen {
    font-family: Digital-7;
    font-size: 60px;
    min-width: 230px;
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: lightgreen;
    border-color: darkgrey;
    border: 3px solid;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;

}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 5px;
    width: 56px;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    border-color: darkgrey;
    border: 3px solid;
    padding: 10px;
    border-radius: 8px;
}

.btn-operator {
    background-color: orange;
}

.btn-num {
    background-color: whitesmoke;
}

.btn-equal {
    background-color:rgba(255, 0, 0, 0.864);
}

.btn-zero {
    width: 122px;
}